
.features-wrap1{
    margin-top: -60px;
    position: $postionrelative ;
    z-index: 31;
    .vs-feature-box2{
        background-color: $title-color;
        padding: 30px;
        position: $postionrelative ;
        -webkit-transition: all ease 0.4s;
        transition: all ease 0.4s;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        color:$white-color;
        display: flex;
        align-items: $aligncenter;
        -webkit-box-align: $aligncenter;
        box-align: $aligncenter;
        &:hover{
            background-color: $theme-color1;
            .feature-icon{
                color: $white-color;
            }
        }
            .feature-icon{
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: $aligncenter;
                font-size: 2.3rem;
                border: 1px dashed $white-color;
                margin-right: 25px;
                border-radius: 50%;
                -webkit-transition: all ease 0.4s;
                transition: all ease 0.4s;
                color: #afaaaa;
            }
            .feature-content{
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                .feature-title {
                    color: $white-color;
                }
            }
            .number{
                    position: $postionabsolute;
                    right: 15px;
                    bottom: 5px;
                    color: #a59696;
                    font-size: 65px;
                    font-weight: 600;
                    line-height: 1;
                    opacity: 0.18;
            }
    }
}